services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    # volumes:
    #   - postgres_data:/var/lib/postgresql/data
  
  backend:
    build: .
    ports: 
      - "8000:8000"
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      secret: ${SECRET}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
    depends_on:
      - db
  
  frontend:
    build: ../retentionai-frontend
    ports:
      - "3000:3000"
    environment:
      # For Next.js rewrites (server-side proxy)
      API_URL: http://backend:8000
    depends_on:
      - backend

# volumes: 
#   postgres_data: